{% include 'head.html' %} {% include 'nav.html' %}

{% load static %}

<section>
    <div class="info">
        <div class="info about">
            <h1>С НАМИ - КАЧЕСТВЕННЕЕ</h1>
            <h1>С НАМИ - ЛЕГЧЕ</h1>
            <h1>С НАМИ - КОМФОРТНО</h1>
        </div>
        <span>Посадочные страницы и Word Press сайты для развития Ваших идей</span>

        <div class="order">
            <a href="#" class="btn" id="order"><span>Сделать заказ</span></a>
            <a href="#" class="btn" id="more"><span>Узнать больше</span></a>
            <script>
                const btn = document.querySelector('.btn');
                btn.onmousemove = function (e){
                    const x = e.pageX - btn.offsetLeft;
                    const y = e.pageY - btn.offsetTop;

                    btn.style.setProperty('--x', x + 'px');
                    btn.style.setProperty('--y', y + 'px');
                }
                const more = document.querySelector('#more')
                more.onmousemove = function (e){
                    const x = e.pageX - more.offsetLeft;
                    const y = e.pageY - more.offsetTop;

                    more.style.setProperty('--x', x + 'px');
                    more.style.setProperty('--y', y + 'px');
                }
            </script>
        </div>
    </div>
    <div class="box">
        <span style="--i:1;"><img src="https://media.istockphoto.com/photos/bicycle-delivery-guy-picture-id1154103408?k=6&m=1154103408&s=612x612&w=0&h=-OKVLG1-Vqo7oApMesDMPRYftLml3HgsEkw1UWhPZ6Q="></span>
        <span style="--i:2;"><img src="https://media.istockphoto.com/photos/back-to-school-flat-lay-on-yellow-background-picture-id1166145294?k=6&m=1166145294&s=612x612&w=0&h=e7Njqi1M2bZ0sy1pvIE3mLuL06i6pkajccLji5_hAek="></span>
        <span style="--i:3;"><img src="https://media.istockphoto.com/photos/dark-chocolate-pralines-picture-id1162200486?k=6&m=1162200486&s=612x612&w=0&h=oazr_sFHT6ffZBsCxjy4oj6jhz5K-dUP9FhXQ1Oz6oI="></span>
        <span style="--i:4;"><img src="https://media.istockphoto.com/photos/flower-arrangement-in-pastel-picture-id683307004?k=6&m=683307004&s=612x612&w=0&h=BQGvaGzNisbgdjPm35HZd7Qrzvg8e9CdnMA-FocIxIQ="></span>
        <span style="--i:5;"><img src="https://media.istockphoto.com/photos/aerial-view-mula-university-and-hospital-road-intersection-turkey-picture-id1154085284?k=6&m=1154085284&s=612x612&w=0&h=yMlgacISWGwsp0_9p0vSc6eBf_ljlUPwoENUOiRsd9s="></span>
    </div>
</section>

<section class="why-us">

    <div class="why-us-content">
        <div class="why-us-card">
            <span>Нас выбирают</span>
        </div>
    </div>

    <div class="carousel-fff">

    </div>
</section>

<section class="price">
    <span>
        Сколько это стоит
    </span>
</section>
{#<section>#}
{#    <div class="interest">#}
{#        <div class="featured-carousel owl-carousel owl-loaded owl-drag">#}
{#            <div class="owl-stage-outer">#}
{#                <div class="owl-stage" style="transform: translate3d(-1350px, 0px, 0px); transition: all 0.25s ease 0s; width: 2970px;">#}
{#                    <div class="owl-item cloned" style="width: 240px; margin-right: 30px;">#}
{#                        <div class="item">#}
{#                            <div class="work">#}
{#                                <div class="img d-flex align-items-end justify-content-center" style="background-image:url({% static 'img/xwork-3.webp' %})">#}
{#                                    <div class="text w-100">#}
{#                                        <span class="cat">Web Design</span>#}
{#                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="owl-item cloned" style="width: 240px; margin-right: 30px;">#}
{#                        <div class="item">#}
{#                            <div class="work">#}
{#                                <div class="img d-flex align-items-end justify-content-center" style="background-image:url({% static 'img/xwork-4.webp' %})">#}
{#                                    <div class="text w-100">#}
{#                                        <span class="cat">Web Design</span>#}
{#                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="owl-item cloned" style="width: 240px; margin-right: 30px;">#}
{#                        <div class="item">#}
{#                            <div class="work">#}
{#                                <div class="img d-flex align-items-end justify-content-center" style="background-image:url({% static 'img/xwork-5.webp' %})">#}
{#                                    <div class="text w-100">#}
{#                                        <span class="cat">Web Design</span>#}
{#                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="owl-nav">#}
{#                <button type="button" role="presentation" class="owl-prev">#}
{#                    <span class="ion-ios-arrow-back"></span>#}
{#                </button>#}
{#                <button type="button" role="presentation" class="owl-next">#}
{#                    <span class="ion-ios-arrow-forward"></span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="owl-dots">#}
{#                <button role="button" class="owl-dot"><span></span></button>#}
{#                <button role="button" class="owl-dot active"><span></span></button>#}
{#                <button role="button" class="owl-dot"><span></span></button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{% include 'footer.html' %}
