{% include 'head.html' %} {% include 'nav.html' %}

<section>
    <div class="info">
        <div class="info about">
            <h1>С НАМИ - КАЧЕСТВЕННЕЕ</h1>
            <h1>С НАМИ - ЛЕГЧЕ</h1>
            <h1>С НАМИ - КОМФОРТНО</h1>
        </div>
        <span>Посадочные страницы и Word Press сайты для развития Ваших идей</span>

        <div class="order">
            <a href="#" class="btn" id="order"><span>Сделать заказ</span></a>
            <a href="#" class="btn" id="more"><span>Узнать больше</span></a>
            <script>
                const btn = document.querySelector('.btn');
                btn.onmousemove = function (e){
                    const x = e.pageX - btn.offsetLeft;
                    const y = e.pageY - btn.offsetTop;

                    btn.style.setProperty('--x', x + 'px');
                    btn.style.setProperty('--y', y + 'px');
                }
                const more = document.querySelector('#more')
                more.onmousemove = function (e){
                    const x = e.pageX - more.offsetLeft;
                    const y = e.pageY - more.offsetTop;

                    more.style.setProperty('--x', x + 'px');
                    more.style.setProperty('--y', y + 'px');
                }
            </script>
        </div>
    </div>
    <div class="box">
        <span style="--i:1;"><img src="https://media.istockphoto.com/photos/bicycle-delivery-guy-picture-id1154103408?k=6&m=1154103408&s=612x612&w=0&h=-OKVLG1-Vqo7oApMesDMPRYftLml3HgsEkw1UWhPZ6Q="></span>
        <span style="--i:2;"><img src="https://media.istockphoto.com/photos/back-to-school-flat-lay-on-yellow-background-picture-id1166145294?k=6&m=1166145294&s=612x612&w=0&h=e7Njqi1M2bZ0sy1pvIE3mLuL06i6pkajccLji5_hAek="></span>
        <span style="--i:3;"><img src="https://media.istockphoto.com/photos/dark-chocolate-pralines-picture-id1162200486?k=6&m=1162200486&s=612x612&w=0&h=oazr_sFHT6ffZBsCxjy4oj6jhz5K-dUP9FhXQ1Oz6oI="></span>
        <span style="--i:4;"><img src="https://media.istockphoto.com/photos/flower-arrangement-in-pastel-picture-id683307004?k=6&m=683307004&s=612x612&w=0&h=BQGvaGzNisbgdjPm35HZd7Qrzvg8e9CdnMA-FocIxIQ="></span>
        <span style="--i:5;"><img src="https://media.istockphoto.com/photos/aerial-view-mula-university-and-hospital-road-intersection-turkey-picture-id1154085284?k=6&m=1154085284&s=612x612&w=0&h=yMlgacISWGwsp0_9p0vSc6eBf_ljlUPwoENUOiRsd9s="></span>
    </div>
</section>

{% include 'footer.html' %}
