body{
    background: #ededed !important;
}

header{
    width: 80%;
    position: relative;
    margin:0 auto
}

.info{
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}

.info span{
    font-size: 2rem;
}

section{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 150px 0 100px 0;
    margin:0 auto
}

.about{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1{
    font-size: 4rem;
}

.navbar-collapse{
    justify-content: center;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

.order{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#order{
    background: black !important;
    color: white !important;
}

#more{
    background: #dcdcdc !important;
    color: black !important;
}

#more::before{
    background: #f588e7 !important;
}

.btn{
    position: relative;
    display: inline-flex;
    padding: 20px 30px !important;
    background: #963479;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #963479;
    transition: width 0.5s, height 0.5s;
    transform: translate(-50%, -50%);
}

.btn:hover::before{
    width: 200px;
    height: 200px;
}


.btn span{
    position: relative;
    z-index: 1;
}
