body{
    background: #ededed !important;
}

header{
    width: 80%;
    position: relative;
    margin:0 auto
}

.info,
.interest {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}

.info span{
    font-size: 2rem;
}

section{
    width: 80%;
    display: flex !important;
    flex-direction: row;
    padding: 150px 0 100px 0;
    margin:0 auto
}

.test {
    position: absolute;
    background-color: #abc;
    left: 50px;
    width: 90px;
    height: 90px;
    margin: 5px;
}

.about{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1{
    font-size: 4rem;
}

.navbar-collapse{
    justify-content: center;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

.order{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#order{
    background: black !important;
    color: white !important;
}

#more{
    background: #dcdcdc !important;
    color: black !important;
}

#more::before{
    background: #f588e7 !important;
}

.btn{
    position: relative;
    display: inline-flex;
    padding: 20px 30px !important;
    background: #963479;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #963479;
    transition: width 0.5s, height 0.5s;
    transform: translate(-50%, -50%);
}

.btn:hover::before{
    width: 200px;
    height: 200px;
}


.btn span{
    position: relative;
    z-index: 1;
}

.why-us{
    margin-top: 200px;
    width: 100% !important;
    background: #dcdcdc;
    display: flex;
    flex-direction: column;
}

.why-us-content{
    width: 100% !important;
}

.why-us-card{
    position: relative;
    margin: -200px auto;
    background: #359aee;
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}

.why-us-card span{
    font-size: 3rem;
}

/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        max-width: 1140px;*/
/*    }*/
/*}*/
/*@media (min-width: 992px) {*/
/*    .interest {*/
/*        max-width: 960px;*/
/*    }*/
/*}*/
/*@media (min-width: 768px) {*/
/*    .container {*/
/*        max-width: 720px;*/
/*    }*/
/*}*/
/*@media (min-width: 576px) {*/
/*    .container {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/

.carousel-fff{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 400px;
}

.price{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 400px;
}

.price  span{
    font-size: 3rem;
}

footer{
    position: relative;
    width: 100%;
    height:  auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .f-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .f-container .sec{
    margin-right: 30px;
}

footer .f-container .sec.aboutus{
    width: 40%;
}

footer .f-container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;

}

footer .f-container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #a42ad4;
}

footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
   background: #a42ad4;
}

.sci li a .fa{
    color: #fff;
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .f-info{
    position: relative;
}

.contact .f-info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .f-info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .f-info li span{
    color: #999;
}

.contact .f-info li a{
    color: #999;
    text-decoration: none;
}

.contact .f-info li a:hover{
    color: #fff;
}

.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.al-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
    transition-timing-function: ease;
    transition-duration: .4s;
    transition-property: opacity,transform;
/*
    transform: translate3d(-100px,0,0) scale(.6);
 */
}
